
<div class="container">
        <div class="border bg-light box-shadow">
            <h2>New Project</h2>

            <%= render 'form', project: @project %>
            <br>
            <%= link_to 'Back', projects_path, class: "btn btn-outline-success"%>
        </div>
    </div>
</div>
